* {
    margin:0; padding:0;
} 

body{
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.title{
    font-size: 36px;
    background-color: #95a29d;
    border: 2px solid #aec7bd;
    color: white;
    padding: 1em 1em 1.5em;
    border-bottom: 0px;
}

p.alt-text{
    color: #835343;
}

.small-title{
    font-size: 22px;
    padding: 1.5em;
}

ul, ol{
    background-color: #e6c9a8;
    border: 2px solid #f2dfc9;
    border-top: 0px;
    list-style: none;
    padding: 2em 2em;
}

.italic{
    font-style: italic;
}

li{
    display: inline-block;
    margin: 0.5em 2em;
}

.alt-links{
    padding: 85px 0px 50px 0px;
    margin-top: -1.2em;
}

a{
    color: white;
    background-color: #8e5f4f;
    border: 2px solid #835343;
    border-radius: 10px;
    padding: 1em 2em;
    text-decoration: none;
}

a:hover{
    background-color: #b37a67;
}

a#home-link{
    display: inline-block;
    border: none;
    padding: 0px 0px;
    font-size: 22px;
    margin-top: 0.5em;
    margin-left: 0.5em;
    background-color: transparent;
}
a#home-link:hover{
    color: #fff5ea;
}


.header{
    text-align: left;
    background-color: #e6c9a8;
    border: 2px solid #f2dfc9;
    height: 50px;
    margin-bottom: -25px;
}

img{
    border: 2px groove black;
}

.recipe-img{
    margin: -25px;
    background-color: #8e5f4f;
}